@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Qwitcher+Grypen:wght@400;700&display=swap");
@import "./locomotive-scroll.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "PT serif", serif;
  }

  h1 {
    @apply py-3 font-quitcher font-bold text-primary text-6xl;
  }
  h2 {
    @apply subheading relative  font-quitcher text-primary text-5xl  xxl:text-5xl xxxl:text-7xl;
  }
  p {
    @apply mb-4 tracking-wide  text-sm;
  }
  .btn-primary {
    @apply rounded bg-primary py-3 px-10 text-center tracking-wider text-white shadow-md transition-all transition-all hover:scale-[1.04] hover:bg-dark;
  }

  .image-pin {
    @apply after:absolute  after:-top-2 after:left-[50%] after:h-6 after:w-6 after:-translate-x-1/2 after:rounded-full after:bg-primary after:drop-shadow-[1px_2px_2px_rgba(0,0,0,1)]  after:content-[""];
  }

  .subheading {
    line-height: 0.8 !important;
  }
  .priceList {
    ul {
      @apply my-5 mx-11 ml-16 list-disc  text-base marker:text-dark;
    }
  }
}

.price-list li {
  @apply relative my-4 ml-5 text-left;
  &::after {
    @apply absolute top-[10px] -left-3 h-1 w-1 rounded-t-full bg-primary content-[""];
  }
}

.ReactModal__Content {
  @apply mx-auto md:max-w-[60vw];
}
.ReactModal__Content {
  inset: 20px;
}
.ReactModal__Overlay {
  @apply z-50;
}

.c-scrollbar,
.c-scrollbar_thumb {
  cursor: default;
  width: 9px;
  opacity: 0.5;
  z-index: 10;
}
