@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PT serif";
    src: url(../src/fonts/PT_serif/PTserif-Regular.ttf);
    font-weight: 500;
  }

  @font-face {
    font-family: "PT serif";
    src: url(../src/fonts/PT_serif/PTserif-Bold.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: "Qwitcher Grypen";
    src: url(../src/fonts/Qwitcher_Grypen/QwitcherGrypen-Regular.ttf);
    font-weight: 400;
  }

  @font-face {
    font-family: "Qwitcher Grypen";
    src: url(../src/fonts/Qwitcher_Grypen/QwitcherGrypen-Bold.ttf);
    font-weight: 700;
  }

  html {
    font-family: "PT serif", serif;
  }

  h1 {
    @apply font-quitcher font-bold text-white text-8xl;
  }
  h2 {
    @apply subheading relative  font-quitcher text-primary text-5xl xl:mr-8 xxl:text-6xl xxxl:text-8xl;
  }
  p {
    @apply mb-8 tracking-wide text-base;
  }

  .image-pin {
    @apply after:absolute  after:-top-2 after:left-[50%] after:h-6 after:w-6 after:-translate-x-1/2 after:rounded-full after:bg-primary after:drop-shadow-[1px_2px_2px_rgba(0,0,0,1)]  after:content-[""];
  }

  .subheading {
    line-height: 0.8 !important;
  }
}
.masonry {
  div:nth-child(1) {
    grid-area: 1 / 1 / 9 / 9;
  }
  div:nth-child(2) {
    grid-area: 1 / 9 / 5 / 13;
  }
  div:nth-child(3) {
    grid-area: 5 / 9 / 10 / 13;
  }
  div:nth-child(4) {
    grid-area: 9 / 1 / 14 / 5;
  }
  div:nth-child(5) {
    grid-area: 9 / 5 / 16 / 9;
  }
  div:nth-child(6) {
    grid-area: 10 / 9 / 16 / 13;
  }
  div:nth-child(7) {
    grid-area: 14 / 1 / 20 / 3;
  }
  div:nth-child(8) {
    grid-area: 14 / 3 / 20 / 5;
  }
  div:nth-child(9) {
    grid-area: 16 / 5 / 23 / 10;
  }
  div:nth-child(10) {
    grid-area: 16 / 10 / 21 / 13;
  }
  div:nth-child(11) {
    grid-area: 20 / 1 / 25 / 5;
  }
  div:nth-child(12) {
    grid-area: 21 / 10 / 26 / 13;
  }
  div:nth-child(13) {
    grid-area: 25 / 1 / 30 / 3;
  }
  div:nth-child(14) {
    grid-area: 25 / 3 / 30 / 5;
  }
  div:nth-child(15) {
    grid-area: 23 / 5 / 30 / 8;
  }
  div:nth-child(16) {
    grid-area: 23 / 8 / 30 / 10;
  }
  div:nth-child(17) {
    grid-area: 26 / 10 / 30 / 13;
  }
}
