@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PT serif";
    src: url(../src/fonts/PT_serif/PTserif-Regular.ttf);
    font-weight: 500;
  }

  @font-face {
    font-family: "PT serif";
    src: url(../src/fonts/PT_serif/PTserif-Bold.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: "Qwitcher Grypen";
    src: url(../src/fonts/Qwitcher_Grypen/QwitcherGrypen-Regular.ttf);
    font-weight: 400;
  }

  @font-face {
    font-family: "Qwitcher Grypen";
    src: url(../src/fonts/Qwitcher_Grypen/QwitcherGrypen-Bold.ttf);
    font-weight: 700;
  }

  html {
    font-family: "PT serif", serif;
  }

  h1 {
    @apply font-quitcher font-bold text-white text-8xl;
  }
  h2 {
    @apply subheading relative  font-quitcher text-primary text-5xl xl:mr-8 xxl:text-6xl xxxl:text-8xl;
  }
  p {
    @apply mb-8 tracking-wide text-base;
  }

  .image-pin {
    @apply after:absolute  after:-top-2 after:left-[50%] after:h-6 after:w-6 after:-translate-x-1/2 after:rounded-full after:bg-primary after:drop-shadow-[1px_2px_2px_rgba(0,0,0,1)]  after:content-[""];
  }

  .subheading {
    line-height: 0.8 !important;
  }
}
